// Variables
$themeColor1: #407BFF;
$gutter: 12px;
$themeColor3: #FFC440;
$themeColor5: #4258ff;
$white: #fff;
$yellowLight1: #F2B833;
$blueLight1: #4F87FF;
$blueDark1: #376adb;
$blueDark2: #336FF2;
$hoveredBgColor: #d73fac;
$sectionPaddingY: 64px;
$buttonColor: fade-out($hoveredBgColor, .6);