@use 'sass:math';
// Custom bootstrap variable overrides
@use "bootstrap_variable_overrides";

// Bootstrap and its default variables
@use "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@use "variables";
@use "mixins";
@use "general";
@use "layout";
@use "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}

@include mixins.font-face("Kobzar", "../fonts/Kobzar/KobzarKS_v1-020", normal, normal, ttf);
@include mixins.font-face("Naftera", "../fonts/Naftera/Naftera", normal, normal, ttf);
@include mixins.font-face("Namu", "../fonts/Namu/NAMU-Pro", normal, normal, ttf woff woff2);
@include mixins.font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w", 500, normal, eot woff2 woff ttf);
@include mixins.font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w", bold, normal, eot woff2 woff ttf);


//animation


$animationDistance: 150px;
$transition-delay: 0.7s;

@include mixins.mediaMinWidth1200 {
  .header_animation_item {
    position: relative;
    opacity: 0;
    @include mixins.transition(#{$transition-delay});
  }

  .img_animation_container {
    transform: translateX(-#{$animationDistance});
  }

  .img_animation_container.active {
    transform: translateY(0);
  }

  .header_info_block_animation_container {
    transform: translateX($animationDistance);
    transition:  #{$transition-delay};


    .block_decor_text:after {
      opacity: 0;
      left: 60%;
      transition: #{$transition-delay} #{$transition-delay};
    }
  }

  .header_info_block_animation_container.active {
    transform: translateY(0);

    .block_decor_text:after {
      opacity: 1;
      left: 0;
    }

  }
  .animation_title {
    opacity: 0;
    transform: scale(0.7);
    @include mixins.transition(0.7s);
    transform-origin: left;
  }

  .animation_title.active {
    transform: none;
  }

  @for $i from 1 through 3 {
    .history_row_animation > div:nth-child(3n + #{$i}) .company {
      transition-delay: calc(0.8s / #{$i});
    }
  }

  .history_row_animation {

    .company {
      opacity: 0;
      transform: translateX(100%);
      @include mixins.transition(0.7s);
      transform-origin: left;
    }

    &.active {
      .company {
        transform: translateX(0%);
        opacity: 1;
      }
    }

  }


  .main_container .personal_skills .progress_bar_animation {

    &:after {
      opacity: 0;
      @include mixins.transition(1.5s);
      width: 0;
    }


    &.active {

      &:after {
        opacity: 1;
      }

      @include mixins.progressBarFilledClasses;
    }
  }


  .contactPanel {

    @for $i from 1 through 4 {
      & > .row > *:nth-child(#{$i}) > .animation_title {
        transition-delay: calc(0.1s * #{$i});
      }
    }
  }

  .social_icon_list {
    @for $i from 1 through 6 {
      & > .animation_title:nth-child(#{$i}) {
        transition-delay: calc(0.1s * #{$i});
      }
    }
  }

  *.active {
    opacity: 1;
  }

  @include mixins.keyframes(textAnimation) {
    0% {
       transform: translateY(0px);
      color: variables.$yellowLight1;
    }
    100% {
      color: variables.$white;
             transform: translateY(-20px);

    }
  }


  @include mixins.keyframes(hvr-wobble-horizontal) {
    16.65% {
      transform: translateX(8px);
    }
    33.3% {
      transform: translateX(-6px);
    }
    49.95% {
      transform: translateX(4px);
    }
    66.6% {
      transform: translateX(-2px);
    }
    83.25% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }

  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    @include mixins.animation(hvr-wobble-horizontal 1s ease-in-out 1);
  }

  .collapsible.animation_title.active {
    @include mixins.animation(hvr-wobble-horizontal 1s ease-in-out 4);
  }

}

.collapsedElem {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

//.block_decor_text{
//  @include mixins.animation(textAnimation 2s ease-in-out infinite alternate);
//}

