@use 'sass:math';
// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}

@include font-face("Kobzar", "../fonts/Kobzar/KobzarKS_v1-020", normal, normal, ttf);
@include font-face("Naftera", "../fonts/Naftera/Naftera", normal, normal, ttf);
@include font-face("Namu", "../fonts/Namu/NAMU-Pro", normal, normal, ttf woff woff2);
@include font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w", 500, normal, eot woff2 woff ttf);
@include font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w", bold, normal, eot woff2 woff ttf);


header {
  padding: $sectionPaddingY 0;
  background: $blueLight1;


  img {
    transform: rotate(2deg);
    display: block;
  }


  .block_decor_text {
    position: relative;
    padding: gutterSizeЬultiplication(3);

    @include childElemOverPosition();

    &:after {
      @include psevdoElemDecor();
      background-color: darken($blueLight1, 6%);
      transform: skew(-2deg);
    }
  }

}

.header_info_block_container {
  overflow: hidden;
}

.header_info_block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}


.main_container {
  $paddihgY: $sectionPaddingY - #{gutterSizeЬultiplication(2)};
  padding: $paddihgY 0;
  background-color: $themeColor1;
  color: $white;

  article {
    padding: gutterSizeЬultiplication(2) 0;

    &.personal_skills .btn {
      position: relative;
      border: 0;
      outline: none;
      font-size: 1.5em;
      font-family: Namu, sans-serif;
      text-transform: uppercase;
      padding: $gutter;
      box-shadow: none;
      color: $white;
      @include transition();
      border-radius: 0;
      background-color: transparent;

      @include childElemOverPosition;


      &:before {
        @include psevdoElemDecor();
        margin: auto;
        transform: skew(-2deg);
        background: $buttonColor;
        @include transition();
      }

      &:hover {
        &:before {
          background: $hoveredBgColor;
          transform: skew(-2deg) scaleY(1.2);
        }
      }
    }

    &.personal_skills ul {
      list-style: none;
      padding-left: 0;
    }

    &.personal_skills ul li {

      .skill_item {
        padding: 0 $gutter;
        position: relative;
        overflow: hidden;
        background: darken($themeColor1, 3%);
        margin-bottom: $gutter;

        &:after {
          @include psevdoElemDecor();
          width: 0;
          background: $themeColor5;
          z-index: 1;
        }

        @include childElemOverPosition;

        p {
          margin-bottom: 0;
        }

      }


    }

    &.personal_skills div > div:not(:last-child) > ul {
      @include _768_less {
        margin-bottom: 0;
      }
    }


    h3 {
      margin-bottom: gutterSizeЬultiplication(2);
      letter-spacing: gutterSizeDel(2);

      &:first-letter {
        color: $yellowLight1;
        font-size: 2em;
        border-bottom: 2px solid $yellowLight1;
      }
    }

    h5 {
      margin-bottom: gutterSizeЬultiplication(2);
      font-size: 1em;
    }

    .company {
      position: relative;
      padding: gutterSizeЬultiplication(2);
      margin-bottom: gutterSizeЬultiplication(2);

      .item_elem {
        @include psevdoElemDecor;
        background: $blueDark1;
        transform-origin: center;
        pointer-events: none;
        transform: skew(4deg);
      }

      .content {
        position: relative;
        z-index: 2;
      }

      h4 {
        color: $themeColor3;
      }
    }
  }

  .additional_skills {
    color: fade-out($white, 0.3);
  }

  h6 {
    margin-bottom: $gutter;
  }

  .university {
    color: $themeColor3;
  }

  p {
    margin-bottom: $gutter;
  }

}

.contactPanel {
  color: $white;

  article {
    padding-top: $gutter*2;

    & > ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    &.contact_block > ul > li {
      margin-bottom: $gutter*2;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      color: $yellowLight1;
    }

    & > ul > li > h4 {
      margin-bottom: calc(#{$gutter} / 2);
      color: $yellowLight1;
    }

  }

  @for $i from 1 through 4 {
    & > .row > *:nth-child(#{$i}) {
      transition-delay: calc(25% * #{$i});
    }
  }


}


footer {
  background: $blueDark2;
  padding-top: $sectionPaddingY;

  h3 {
    color: $yellowLight1;
    margin-bottom: 1rem;
  }

  .contact_block {
    .social_icon_list {
      display: flex;
    }

    .social_icon_list li {
      margin-right: 12px;
    }

    .social_icon_list a {
      background: $hoveredBgColor;
      color: $white;
      @include square(44px);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skew(-11deg);
      @include transition;

      &:hover {
        color: $hoveredBgColor;
        background: $white;
        transform: skew(-11deg) scale(1.1);
      }
    }

    svg {
      transform: scale(1.5);
      display: block;
    }
  }


  .copyright {
    margin-top: $sectionPaddingY;
    margin-bottom: 0;
    text-align: center;
    padding: calc(#{$gutter} / 2);
    background-color: darken($blueDark2, 6%);
  }

}


//animation



$animationDistance: 150px;
$transition-delay: 0.3s;

.header_animation_item {
  position: relative;
  opacity: 0;
  @include transition(#{$transition-delay});
}

.img_animation_container {
  transform: translateX(-#{$animationDistance});
}

.img_animation_container.active {
  transform: translateY(0);
}

.header_info_block_animation_container {
  transform: translateX($animationDistance);

  .block_decor_text:after {
    opacity: 0;
    left: 60%;
    transition: #{$transition-delay} #{$transition-delay};
  }
}

.header_info_block_animation_container.active {
  transform: translateY(0);

  .block_decor_text:after {
    opacity: 1;
    left: 0;
  }

}

.animation_title {
  opacity: 0;
  transform: scale(0.7);
  @include transition(0.7s);
  transform-origin: left;
}

.animation_title.active {
  transform: none;
}

.animation_company_item {
  opacity: 0;
  transform: translateX(100%);
  transition: 0.7s;
  transform-origin: left;
}

.animation_company_item.active {
  transform: translateX(0%);
}

@for $i from 1 through 3 {
  .history > div:nth-child(3n + #{$i}) .animation_company_item {
    transition-delay: calc(0.6s / #{$i});
  }
}


.main_container .progress_bar_animation {

  &:after {
    opacity: 0;
    @include transition(1.5s);
    width: 0;
  }


  &.active {

    &:after {
      opacity: 1;
    }

    @for $i from 1 through 4 {
      &.lvl-#{$i}:after {
        width: calc(25% * #{$i});
      }
    }
  }
}


.contactPanel {

  @for $i from 1 through 4 {
    & > .row > *:nth-child(#{$i}) > .animation_title {
      transition-delay: calc(0.1s * #{$i});
    }
  }
}

.social_icon_list {
  @for $i from 1 through 6 {
    & > .animation_title:nth-child(#{$i}) {
      transition-delay: calc(0.1s * #{$i});
    }
  }
}

*.active{
  opacity: 1;
}

.additional_skills {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@include keyframes (hvr-wobble-horizontal) {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}


.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  @include animation(hvr-wobble-horizontal 1s ease-in-out 1);
}

.collapsible.animation_title.active {
   @include animation(hvr-wobble-horizontal 1s ease-in-out 4);
}